* {
  margin: 0px;
  padding: 0px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.aboutIntro-Div {
  background-image: url(../Images/building2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0dvh -20dvh;
  display: inline-block;
  justify-content: center;
  align-items: center;
  object-fit: contain;
  height: 40dvh;
  width: 100%;
  margin-top: 80px;
}

.aboutUs {
  display: flex;
  color: rgb(255, 255, 255);
  justify-content: right;
  align-items: center;
}
.abt {
  display: inline-block;
  align-items: center;
  justify-content: center;
  background-color: rgba(108, 154, 255, 0.528);
  backdrop-filter: blur(10px);
  border-top-left-radius: 80px;
  border-bottom-left-radius: 90px;
  padding-left: 90px;
  padding-right: 30px;
  margin-top: 35px;
  z-index: 01; /* Adjust z-index to change stacking order */
}
.p1 {
  font-weight: 800;
  font-size: 150px;
}
.p2 {
  font-size: xx-large;
  text-align: right;
}

.info1-Div {
  display: inline-block;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 30px;
}
.overView {
  text-align: center;
  letter-spacing: 20px;
  font-size: 40px;
  font-weight: 800;
  color: rgb(19, 24, 41);
  text-decoration: underline;
}
.infoOne-Div {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(168, 200, 255);
}
.infoOne {
  text-align: center;
  justify-content: center;
  font-size: x-large;
}

/*GRID SECTION*/
.aboutGrid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 10px;
  row-gap: 10px;
  margin: 20px 20px;
}
.grd1 {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  height: 350px;
  object-fit: contain;
  border-radius: 5px;
  background-color: rgb(225, 225, 225);
}
.grd1 img {
  width: 100%;
  object-fit: cover;
  height: 350px;
  border-radius: 20px;
}
.grd2 {
  display: grid;
  justify-content: center;
  align-items: center;
  background-color: rgb(161, 165, 214);
  border-radius: 20px;
  padding-left: 10px;
}

.goals-Div {
  display: grid;
  grid-template-rows: 100px 1fr;
  justify-content: center;
  align-items: center;
  background-image: url(../Images/future2.webp);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 500px;
  width: 100%;
}
.goals-Div h1 {
  text-align: center;
  font-size: 80px;
  color: white;
}
.goals-Div p {
  text-align: center;
  font-size: large;
  color: white;
}
